<h1 class="primary-text-2 mb-4 text-3xl font-bold">My Cases</h1>

@let followedCases = followedCasesStateService.select('followedCases') | async;

@let isLoading = followedCasesStateService.select('loading') | async;

<div class="min-h-[200px]">
    @if (isLoading) {
        <lib-app-loader [loadingMessage]="'Loading...'" />
    } @else if (followedCases && followedCases.length > 0) {
        <div class="grid grid-cols-1 gap-4">
            @for (case of followedCases; track case.id) {
                <div
                    (click)="goToFollowedCase(case.id)"
                    role="button"
                    tabindex="0"
                    class="bg-color-container cursor-pointer rounded-xl border border-gray-100 bg-white px-4 py-2 hover:shadow-sm hover:transition-all hover:duration-300 md:border-white dark:border-none">
                    <div class="flex items-center gap-4">
                        <h1
                            class="primary-text-4 bg-gradient-to-r from-green-600 via-green-800 to-green-700 bg-clip-text text-xl font-bold text-transparent md:text-4xl">
                            {{ case.caseTitle }}
                        </h1>
                        @if (case?.caseType) {
                            <h1
                                class="text-md font-semibold text-gray-600 capitalize">
                                <app-case-type-badge
                                    [caseType]="
                                        case.caseType
                                    "></app-case-type-badge>
                            </h1>
                        }
                    </div>

                    @if (case?.court) {
                        <div
                            class="mt-2 items-center font-medium md:text-lg lg:flex">
                            <h1 class="bangla secondary-text text-gray-700/75">
                                {{ case?.court?.nameBn || 'N/A' }}
                            </h1>
                            <div
                                class="mx-2 hidden h-4 w-px bg-gray-400 lg:block"></div>
                            <h1 class="secondary-text text-gray-700/75">
                                {{ case?.court?.nameEn }}
                            </h1>
                        </div>
                    }

                    <div class="flex items-center gap-2">
                        <h3 class="secondary-text text-gray-700/75">
                            <strong>Case No:</strong>
                            {{ case.number || 'N/A' }}
                        </h3>
                    </div>
                </div>
            }
        </div>
    } @else {
        <lib-no-data [noDataMessage]="'No followed cases found'" />
    }
</div>
<app-pending-follow-request-case
    [isApproved]="false"></app-pending-follow-request-case>
