:host {
    display: block;
}

::ng-deep .p-accordionheader {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
}

::ng-deep .p-accordionheader .p-icon {
    order: -1;
    margin-right: 0.6rem;
    transform: rotate(180deg);
}
