<h2 class="flex items-center gap-2 text-4xl leading-10 font-bold">
    Courts
    <i
        class="pi pi-info-circle cursor-pointer text-gray-500 hover:text-gray-700"
        (click)="showInfoAlert()"
        title="Click for more information">
    </i>
</h2>

<lib-app-alert
    [show]="showNote()"
    (closed)="closeNote()"
    [message]="
        'All registered courts of Bangladesh are already listed. You may create your own courts if needed.'
    " />

<div class="table-container">
    <div
        class="my-3 flex flex-col gap-4 sm:flex-row sm:items-center sm:justify-between md:my-5 md:mb-4 dark:p-4">
        <div class="flex justify-between gap-3">
            <p-button
                size="small"
                styleClass="bg-primary hover:bg-green-700 py-2"
                (onClick)="showCreateDialog()">
                <i class="pi pi-plus"></i> Create Court</p-button
            >
        </div>

        <div
            class="flex flex-col md:grid md:grid-cols-2 md:items-center md:gap-4">
            <!-- Search input (first on mobile) -->
            <div class="relative order-1 w-full md:order-2 md:w-[350px]">
                <i
                    class="pi pi-search absolute top-1/2 left-3 -translate-y-1/2 transform text-gray-400"></i>
                <input
                    type="text"
                    pInputText
                    size="small"
                    placeholder="Search court by name or district"
                    class="search-field w-full pl-10"
                    (input)="onSearch($event)" />
            </div>

            <!-- Toggle section (second on mobile) -->
            <div
                class="order-2 mt-2 flex items-center gap-2 md:order-1 md:mt-0 md:justify-end">
                <span class="secondary-text text-sm text-gray-600"
                    >All Courts</span
                >
                <p-toggleSwitch
                    [ngModel]="showFavoritesOnly()"
                    (onChange)="onFavoriteToggle($event)"
                    class="mt-1"></p-toggleSwitch>
                <span class="text-sm text-gray-600">
                    <i class="pi pi-star-fill mr-1 text-orange-400"></i>
                    <span class="secondary-text"> Favorite Courts</span>
                </span>
            </div>
        </div>
    </div>

    <div class="hidden lg:block">
        <app-court-table></app-court-table>
    </div>

    <div class="block lg:hidden">
        <app-court-card></app-court-card>
    </div>
</div>
