<div class="items-container">
    @let loading = caseStateService.select('loading') | async;

    @if (loading) {
        <lib-app-loader [loadingMessage]="'Loading...'" />
    } @else {
        <app-client-case-details [caseId]="id ?? ''"></app-client-case-details>

        <!-- Sidebar (Only on Large Screens) -->
        <div class="bg-gray-white-400 my-6 mt-4 h-[1px] w-full bg-gray-200"></div>

        <div class="mt-4 grid gap-4 lg:grid-cols-[14rem_1fr]">
            <!-- Mobile Grid Menu -->
            <div class="lg:hidden">
                <div class="grid grid-cols-2 gap-2">
                    @for (item of caseDetailsRoutesData; track item.path) {
                        <button
                            (click)="onMobileNavChange(item.path)"
                            class="grid items-center rounded-sm p-1 text-xs transition-colors duration-200"
                            [ngClass]="{
                                'bg-gray-700 text-white shadow-sm':
                                    selectedItem?.path === item.path,
                                'bg-color-main bg-gray-50 text-gray-600 hover:bg-green-50':
                                    selectedItem?.path !== item.path,
                            }">
                            <i
                                [class]="item.icon ?? 'pi pi-circle'"
                                class="secondary-text text-base"></i>
                            <span class="secondary-text mt-1 truncate font-semibold">{{
                                item.title
                            }}</span>
                        </button>
                    }
                </div>
            </div>
            <div class="border-gray hidden w-54 border-r border-gray-100 pr-4 lg:block">
                <ul>
                    @for (item of caseDetailsRoutesData; track item.path) {
                        <li>
                            <a
                                [routerLink]="item.path"
                                routerLinkActive="active"
                                class="my-1 flex items-center gap-3 rounded-sm px-2 py-2 font-medium text-gray-600 hover:bg-green-100 dark:hover:bg-[var(--color-gray-white-800)]">
                                <i
                                    [class]="item.icon ?? 'pi pi-circle'"
                                    class="secondary-text ml-1 text-xl text-gray-600"
                                    routerLinkActive="shadow-sm text-white"></i>
                                <span class="secondary-text font-medium">{{ item.title }}</span>
                            </a>
                        </li>
                    }
                </ul>
            </div>
            <div class="min-h-[300px]">
                <router-outlet />
            </div>
        </div>
    }
</div>
