# Add files here to ignore them from prettier formatting
/dist
/coverage
/.nx/cache
.angular

/.nx/workspace-data
pnpm-lock.yaml

# Biome formats these file so we ignore them from Prettier
**/*.ts
**/*.js
**/*.md
**/*.mjs
**/*.cjs
**/*.css
# **/*.scss # not yet supported by biome
