<h1 class="text-4xl font-bold">Clients</h1>

<div class="table-container">
    <div
        class="my-5 flex flex-col gap-5 sm:flex-row sm:items-center sm:justify-between sm:gap-0 dark:p-4">
        <div>
            <p-button
                styleClass="bg-primary hover:bg-green-700"
                label="Create Client"
                icon="pi pi-plus"
                (onClick)="openClientCreateForm()" />
        </div>
        <div class="flex items-center justify-between gap-3 sm:justify-end">
            <div class="flex items-center justify-start gap-2">
                <!-- <form [formGroup]="caseForm">
                <p-autocomplete
                    delay="500"
                    formControlName="selectedCase"
                    [showClear]="true"
                    [suggestions]="cases || []"
                    (completeMethod)="filterCase($event)"
                    (onSelect)="onSelect($event)"
                    (onClear)="onClear()"
                    field="caseTitle"
                    styleClass="search-field" />
            </form>
            <p-button
                variant="outlined"
                styleClass="btn-search"
                size="large"
                icon="pi pi-search" /> -->
                <input
                    type="text"
                    pInputText
                    class="search-field"
                    (input)="onSearch($event)" />
                <p-button
                    variant="outlined"
                    styleClass="btn-outline "
                    icon="pi pi-search" />
            </div>
            <!-- TODO:Active when filters are complete -->
            <!-- <p-button
            icon="pi pi-filter"
            label="Filters"
            styleClass="btn-outline" /> -->
        </div>
    </div>

    <div class="mt-2">
        <lib-client-list-table></lib-client-list-table>
    </div>
</div>
