<ngx-sonner-toaster richColors />
<p-toast key="desktop-toast" position="top-right" />
<!-- mobile tost -->
<p-toast
    key="mobile-toast"
    [breakpoints]="{ '920px': { width: '100%', right: '0', left: '0' } }"
    position="bottom-right"
    class="mx-auto w-full max-w-[350px]" />
<p-confirmdialog key="confirmDialog" />
<p-confirmpopup />

@switch (layoutService.layout$ | async) {
    @case (PageLayout.Default) {
        <app-layout-default>
            <router-outlet></router-outlet>
        </app-layout-default>
    }
    @case (PageLayout.Center) {
        <app-layout-centered>
            <router-outlet></router-outlet>
        </app-layout-centered>
    }
    @case (PageLayout.Blank) {
        <router-outlet></router-outlet>
    }
    @default {
        <app-layout-default>
            <router-outlet></router-outlet>
        </app-layout-default>
    }
}
