<div class="mx-auto mt-12 mb-16 max-w-full px-4 lg:mt-18 lg:px-0">
    @if (caseData(); as case) {
        <div class="flex flex-col items-center justify-center gap-10 lg:flex-row lg:gap-16">
            <img
                src="/assets/images/team-select.png"
                class="faq-icon w-3/4 max-w-xs lg:max-w-sm"
                alt="Case" />
            <div class="w-full max-w-xl">
                <h1 class="mb-4 text-left text-2xl text-green-950 lg:text-4xl">
                    Case and Event Details
                </h1>
                <div class="rounded-md bg-gray-100 p-4 shadow-sm">
                    <ul class="space-y-3 text-base lg:text-lg">
                        <li class="p-text-secondary text-left text-xl font-semibold lg:text-2xl">
                            {{ case.caseTitle }}
                        </li>
                        <li class="p-text-secondary">
                            <div class="flex gap-4">
                                <div>
                                    <span class="block text-gray-600">Case No:</span>
                                    {{ case.number }}
                                </div>
                                <div class="capitalize">
                                    <span class="block text-gray-600">Type:</span>
                                    {{ case.caseType }}
                                </div>
                            </div>
                        </li>

                        <li>
                            <span class="block text-gray-600">Court:</span>
                            <span class="text-sm">
                                {{
                                    case.court?.nameBn
                                        ? case.court?.nameBn
                                        : 'N/A (Court ID missing)'
                                }}
                            </span>
                        </li>

                        @if (case.policeStationName) {
                            <li>
                                <span class="block text-gray-600">Police Station:</span>
                                {{ case.policeStationName }}
                            </li>
                        }

                        @if (case.latestHistory) {
                            <li>
                                <span class="block text-gray-600">Event:</span>
                                {{ case.latestHistory.eventType }} on
                                {{ case.latestHistory.date }}
                            </li>
                        }

                        <li>
                            <span class="block text-gray-600">Filing Date:</span>
                            {{ case.filingDate | date }}
                        </li>

                        <li>
                            <p class="mt-2 text-left font-semibold">
                                Want to stay updated on this case? Click 'Follow' to track your
                                case!
                            </p>
                        </li>
                    </ul>

                    <div class="mt-6">
                        <p-button
                            label="Request To Follow"
                            icon="pi pi-telegram"
                            styleClass="bg-primary"
                            size="large"
                            class="mt-3"
                            (onClick)="sendRequest(case)" />
                    </div>
                </div>
            </div>
        </div>
    }
</div>
