<div class="container mx-auto p-4">
    <h1 class="mb-6 text-2xl font-bold">Messages</h1>

    @let messages = messageListStateService.select('messages') | async;
    @let selectedMessage = messageListStateService.select('selectedMessage') | async;

    <!-- Message List and Details Layout -->
    <div class="grid grid-cols-1 gap-6 md:grid-cols-3">
        <!-- Message List -->
        <div class="rounded-lg bg-white p-4 shadow-md">
            <h2 class="mb-4 text-lg font-semibold">Message List</h2>
            <ul class="space-y-2">
                @for (message of messages; track $index) {
                    <li
                        (click)="selectMessage(message)"
                        class="cursor-pointer rounded-lg p-2 hover:bg-gray-100"
                        [class.bg-blue-50]="selectedMessage?.id === message.id">
                        <div class="font-medium">{{ message.message }}</div>
                        <div class="text-sm text-gray-500">
                            {{ message.date | date }}
                        </div>
                    </li>
                } @empty {
                    <div class="text-sm text-gray-500">No messages found!</div>
                }
            </ul>
        </div>

        <!-- Message Details -->
        <div class="col-span-2 rounded-lg bg-white p-4 shadow-md">
            <h2 class="mb-4 text-lg font-semibold">Message Details</h2>
            @if (selectedMessage) {
                <div>
                    <div class="mb-4">
                        <div class="font-medium">From: {{ selectedMessage.clientUserId }}</div>
                        <div class="text-sm text-gray-500">
                            Date: {{ selectedMessage.date | date }}
                        </div>
                    </div>
                    <div class="rounded-lg bg-gray-50 p-4">
                        <p>{{ selectedMessage.message }}</p>
                    </div>
                </div>
            } @else {
                <p class="text-gray-500">Select a message to view details.</p>
            }
        </div>
    </div>

    <!-- Compose Message Button -->
    <div class="mt-6">
        <p-button
            label="Compose Message "
            (click)="isComposeModalOpen.set(true)"
            styleClass="bg-green" />
    </div>
</div>

<!-- Compose Message Modal -->
<app-send-message-form [(isOpen)]="isComposeModalOpen"></app-send-message-form>
