<h1 class="primary-text mb-4 text-3xl font-bold">Organization & Permission</h1>
<div class="items-container !p-2">
    <p-tabs [scrollable]="true" class="mb-6 w-[350px] bg-white font-normal md:w-full">
        <p-tablist>
            @for (tab of visibleTabs(); track tab.route) {
                <p-tab
                    [value]="tab.route"
                    routerLinkActive="active-link"
                    [routerLinkActiveOptions]="{ exact: true }"
                    [routerLink]="tab.route"
                    class="primary-text flex items-center gap-2 font-normal text-inherit">
                    <i [class]="tab.icon"></i>
                    <span>{{ tab.label }}</span>
                </p-tab>
            }
        </p-tablist>
    </p-tabs>
    <router-outlet></router-outlet>
</div>
