<section class="bg-lightGray w-full overflow-x-clip">
    <div
        class="mx-4 flex flex-wrap items-center justify-evenly py-6 md:mx-14 md:flex-row md:gap-7 lg:gap-48">
        <div class="flex flex-col items-center justify-center">
            <span class="text-2xl font-bold text-neutral-800 md:text-4xl"
                >5021</span
            >
            <span class="text-gray59 text-center text-sm md:text-2xl"
                >Total Cases</span
            >
        </div>
        <div class="flex flex-col items-center justify-center">
            <span class="text-2xl font-bold text-neutral-800 md:text-4xl"
                >5021</span
            >
            <span class="text-gray59 text-center text-sm md:text-2xl"
                >Total Clients</span
            >
        </div>
        <div class="flex flex-col items-center justify-center">
            <span class="text-2xl font-bold text-neutral-800 md:text-4xl"
                >5021</span
            >
            <span class="text-gray59 text-center text-sm md:text-2xl"
                >Total Lawyers</span
            >
        </div>
        <div class="flex flex-col items-center justify-center">
            <span class="text-2xl font-bold text-neutral-800 md:text-4xl"
                >5021</span
            >
            <span class="text-center text-sm text-gray-900 md:text-2xl"
                >Total Organizations</span
            >
        </div>
    </div>
</section>
