<div class="h-[400px]">
    @let case = caseStateService.select('case') | async;

    <div
        class="case-header border-gray flex items-center justify-between border-b border-gray-200 pb-4 text-gray-700/80">
        <div class="secondary-text flex items-center justify-start gap-2">
            <i class="pi pi-sync"></i>
            <h2 class="text-xl font-bold">Court Transfers</h2>
        </div>

        <p-button
            icon="pi pi-plus"
            text="true"
            (click)="openTransferModal(case!)"
            [disabled]="!case?.court!" />
    </div>

    @if (!case?.court) {
        <div class="mt-4">
            <lib-no-data
                [noDataMessage]="
                    'Add a court first to initiate a court transfer'
                " />
        </div>
    } @else {
        @let courtTransfers =
            courtTransferListStateService.select('courtTransfers') | async;
        <app-court-transfer-table
            [courtTransfers]="courtTransfers"></app-court-transfer-table>
    }
</div>
