<div class="items-container bg-color-container">
    <p-button
        label="Create Act"
        styleClass="bg-primary mb-4 hover:bg-green-800 "
        icon="pi pi-plus"
        (click)="openLawCreateModal()" />

    <lib-app-alert
        [show]="showNote()"
        class="mx-4 mt-4"
        (closed)="closeNote()"
        [title]="'Create Act'"
        [message]="'You can assign acts to cases. Acts can be managed from here.'" />

    <div class="w-auto-406 flex-nowrap-400 mt-4 flex max-w-[360px] flex-wrap items-center gap-2">
        <input
            type="text"
            pInputText
            size="small"
            (input)="onSearch($event)"
            class="search-field w-auto-406 w-full flex-1" />
        <p-button
            styleClass="btn-outline flex-shrink-0 w-full w-auto-406"
            size="large"
            icon="pi pi-search" />
    </div>

    <app-law-table class="my-4"></app-law-table>
</div>
