<div class="h-[450px]">
    @let state = caseStateService.selectAll() | async;
    @let case = state?.case;

    <div class="case-header border-gray border-b border-gray-100 pb-4 text-gray-700/80">
        <div
            class="text-green1f secondary-text mt-2 flex items-center justify-start gap-2 font-bold">
            <i class="pi pi pi-sitemap"></i>
            <h2 class="text-xl font-bold">Case Parties</h2>
        </div>
    </div>

    <div class="mt-4 gap-4 lg:flex">
        <div class="flex-1">
            <app-case-party-container
                [caseId]="case?.id ?? ''"
                [caseParties]="state?.caseParties ?? []"
                [sideRepresenting]="$any(case?.sideRepresenting)"
                [side]="'left'"
                [type]="$any(case?.caseType)"
                (casePartiesChange)="updateCasePartiesInState($event)">
            </app-case-party-container>
        </div>
        <div class="bg-gray-white-200 mt-14 h-auto w-px bg-gray-200"></div>
        <div class="flex-1">
            <app-case-party-container
                [caseId]="case?.id ?? ''"
                [caseParties]="state?.caseParties ?? []"
                [sideRepresenting]="$any(case?.sideRepresenting)"
                [side]="'right'"
                [type]="$any(case?.caseType)"
                (casePartiesChange)="updateCasePartiesInState($event)">
            </app-case-party-container>
        </div>
    </div>
</div>
