<div class="w-full overflow-x-hidden">
    <div class="mt-4 hidden gap-4 lg:grid lg:grid-cols-4">
        @for (count of homeTotalCounts(); track $index) {
            <div class="h-full">
                <div
                    class="mobile-card flex h-full flex-1 flex-col justify-between border border-gray-100 p-2"
                    [class.cursor-pointer]="count.value | isClickable"
                    [routerLink]="
                        (count.value | isClickable) ? count.url : null
                    "
                    [queryParams]="
                        (count.value | isClickable)
                            ? count.queryParams || {}
                            : null
                    ">
                    <div class="flex h-full items-center justify-between">
                        <div
                            class="count-icon hidden h-16 w-16 flex-shrink-0 items-center justify-center rounded-full border border-teal-400 bg-teal-50 text-teal-400 md:flex">
                            <i
                                class="pi pi-{{ count.icon }}"
                                style="font-size: 2rem"></i>
                        </div>

                        <div
                            class="ml-2 flex w-full flex-col justify-between gap-2 md:items-end md:justify-between md:gap-0">
                            <h1
                                class="secondary-text text-start text-lg leading-tight font-bold break-words text-gray-700/80">
                                {{ count.label }}
                            </h1>
                            <h6
                                class="self-end text-end font-bold md:self-auto"
                                [ngClass]="[
                                    count.color,
                                    count.value > 999 ? 'text-5xl' : 'text-8xl',
                                ]">
                                {{ count.value }}
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="mt-3 grid grid-cols-2 gap-2 lg:hidden">
        @for (count of homeTotalCounts(); track $index) {
            <div
                class="mobile-card relative flex items-center gap-2 rounded-xl border border-gray-100 bg-white px-2 py-4"
                [class.cursor-pointer]="count.value | isClickable"
                [routerLink]="(count.value | isClickable) ? count.url : null"
                [queryParams]="
                    (count.value | isClickable) ? count.queryParams || {} : null
                ">
                <!-- Icon -->

                <!-- Label + Value -->
                <span
                    class="secondary-text truncate text-sm font-bold text-gray-600/80">
                    {{ count.label }}
                </span>
                <span
                    class="absolute right-4 ml-auto font-bold"
                    [ngClass]="[
                        count.color,
                        count.value > 999 ? 'text-xl' : 'text-5xl',
                    ]">
                    {{ count.value }}
                </span>
            </div>
        }
    </div>

    <app-vendor-upcoming-cases />
    <div class="mt-12">
        <app-pinned-cases />
    </div>
</div>
