<div class="hero relative bg-white">
    <div class="absolute right-0 bottom-0 overflow-hidden lg:inset-y-0" aria-hidden="true">
        <img
            class="h-full w-auto"
            src="https://d33wubrfki0l68.cloudfront.net/1e0fc04f38f5896d10ff66824a62e466839567f8/699b5/images/hero/3/background-pattern.png"
            alt="Background pattern" />
    </div>

    <section
        class="relative py-6 lg:pt-20 lg:pb-36"
        role="banner"
        aria-label="MyApp Case Management Hero">
        <div class="mx-auto px-4 lg:px-16">
            <div
                class="grid grid-cols-1 gap-y-8 sm:gap-y-20 lg:grid-cols-2 lg:items-center xl:grid-cols-5">
                <div
                    class="order-2 text-center md:px-16 lg:order-1 lg:px-0 lg:text-left xl:col-span-2">
                    <div class="mx-auto max-w-sm sm:max-w-md md:max-w-full">
                        <h1
                            class="mb-2 text-center text-3xl md:mb-8 md:text-4xl lg:text-left xl:text-7xl">
                            <span class="gradient-text text-5xl font-semibold md:text-7xl"
                                >MyApp</span
                            >
                            <br />
                            <span class="text-4xl text-gray-800 md:text-6xl"
                                >Smart case management <br />
                                at your fingertips.</span
                            >
                        </h1>

                        <p class="text-center text-base md:tracking-widest lg:text-left xl:text-xl">
                            Connect with verified legal experts, manage your case, and resolve
                            issues
                            <br class="hidden md:inline lg:hidden" />
                            — all in one smart platform.
                        </p>

                        <button
                            class="group relative mx-auto mt-4 flex min-h-[2.92rem] max-w-full min-w-[8.5rem] cursor-pointer items-center justify-center rounded-full bg-gray-800 py-2 shadow-[inset_1px_2px_5px_#00000080] transition-all duration-[0.8s] ease-[cubic-bezier(0.510,0.026,0.368,1.016)] hover:bg-green-400 lg:mx-0 lg:justify-start">
                            <a
                                href="/signup"
                                aria-label="Get started with MyApp smart case management">
                                <div class="absolute inset-0 flex items-center justify-start p-1">
                                    <div
                                        class="w-[0%] transition-all duration-[1s] ease-[cubic-bezier(0.510,0.026,0.368,1.016)] group-hover:w-full"></div>
                                    <div
                                        class="flex aspect-square h-full shrink-0 items-center justify-center rounded-full bg-green-400 shadow-[inset_1px_-1px_3px_0_black] transition-all duration-[1s] ease-[cubic-bezier(0.510,0.026,0.368,1.016)] group-hover:bg-black">
                                        <div
                                            class="size-[0.8rem] text-black transition-all duration-[1s] ease-[cubic-bezier(0.510,0.026,0.368,1.016)] group-hover:-rotate-45 group-hover:text-white">
                                            <svg
                                                xmlns="http://www.w3.org/2000/svg"
                                                fill="none"
                                                viewBox="0 0 16 16"
                                                height="100%"
                                                width="100%">
                                                <path
                                                    fill="currentColor"
                                                    d="M12.175 9H0V7H12.175L6.575 1.4L8 0L16 8L8 16L6.575 14.6L12.175 9Z"></path>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="pr-[1.1rem] pl-[3.4rem] text-white transition-all duration-[1s] ease-[cubic-bezier(0.510,0.026,0.368,1.016)] group-hover:pr-[3.4rem] group-hover:pl-[1.1rem] group-hover:text-black">
                                    Get Started Now
                                </div></a
                            >
                        </button>

                        <div
                            class="mx-auto mt-6 flex items-center justify-center gap-4 lg:justify-start">
                            @if (!isIos()) {
                                <button class="cursor-pointer shadow-sm hover:shadow-lg">
                                    <a
                                        href="https://play.google.com/store/apps/details?id=me.touhidrahman.app&pcampaignid=web_share"
                                        target="_blank"
                                        rel="noopener noreferrer"
                                        aria-label="Download MyApp Android Mobile App on Google Play">
                                        <div
                                            class="flex h-12 max-w-48 items-center justify-center gap-2 rounded-xl bg-black px-3 text-white hover:bg-gray-900 sm:h-14 dark:bg-white dark:text-black">
                                            <svg
                                                viewBox="30 336.7 120.9 129.2"
                                                class="w-5 sm:w-7"
                                                aria-hidden="true">
                                                <path
                                                    d="M119.2,421.2c15.3-8.4,27-14.8,28-15.3c3.2-1.7,6.5-6.2,0-9.7  c-2.1-1.1-13.4-7.3-28-15.3l-20.1,20.2L119.2,421.2z"
                                                    fill="#FFD400"></path>
                                                <path
                                                    d="M99.1,401.1l-64.2,64.7c1.5,0.2,3.2-0.2,5.2-1.3  c4.2-2.3,48.8-26.7,79.1-43.3L99.1,401.1L99.1,401.1z"
                                                    fill="#FF3333"></path>
                                                <path
                                                    d="M99.1,401.1l20.1-20.2c0,0-74.6-40.7-79.1-43.1  c-1.7-1-3.6-1.3-5.3-1L99.1,401.1z"
                                                    fill="#48FF48"></path>
                                                <path
                                                    d="M99.1,401.1l-64.3-64.3c-2.6,0.6-4.8,2.9-4.8,7.6  c0,7.5,0,107.5,0,113.8c0,4.3,1.7,7.4,4.9,7.7L99.1,401.1z"
                                                    fill="#3BCCFF"></path>
                                            </svg>
                                            <div>
                                                <div class="text-left text-[.5rem] sm:text-xs">
                                                    GET IT ON
                                                </div>
                                                <div
                                                    class="-mt-1 font-sans text-sm font-semibold sm:text-xl">
                                                    Google Play
                                                </div>
                                            </div>
                                        </div></a
                                    >
                                </button>
                            }
                            <button
                                class="shadow-sm hover:shadow-lg"
                                aria-label="MyApp ios Mobile App on App Store coming soon"
                                disabled>
                                <div
                                    class="flex h-12 max-w-48 items-center justify-center gap-2 rounded-xl bg-black px-3 text-white hover:bg-gray-900 sm:h-14 sm:gap-3 dark:bg-white dark:text-black">
                                    <svg
                                        viewBox="0 0 384 512"
                                        class="w-5 sm:w-7"
                                        aria-hidden="true">
                                        <path
                                            d="M318.7 268.7c-.2-36.7 16.4-64.4 50-84.8-18.8-26.9-47.2-41.7-84.7-44.6-35.5-2.8-74.3 20.7-88.5 20.7-15 0-49.4-19.7-76.4-19.7C63.3 141.2 4 184.8 4 273.5q0 39.3 14.4 81.2c12.8 36.7 59 126.7 107.2 125.2 25.2-.6 43-17.9 75.8-17.9 31.8 0 48.3 17.9 76.4 17.9 48.6-.7 90.4-82.5 102.6-119.3-65.2-30.7-61.7-90-61.7-91.9zm-56.6-164.2c27.3-32.4 24.8-61.9 24-72.5-24.1 1.4-52 16.4-67.9 34.9-17.5 19.8-27.8 44.3-25.6 71.9 26.1 2 49.9-11.4 69.5-34.3z"
                                            fill="currentColor"></path>
                                    </svg>
                                    <div>
                                        <div class="text-left text-[.5rem] sm:text-xs">
                                            Coming soon
                                        </div>
                                        <div
                                            class="-mt-1 font-sans text-lg font-semibold sm:text-2xl">
                                            App Store
                                        </div>
                                    </div>
                                </div>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="order-1 lg:order-2 xl:col-span-3">
                    <img
                        ngSrc="assets/images/hero/hero.png"
                        width="800"
                        height="600"
                        priority
                        alt="MyApp case management dashboard preview"
                        class="mx-auto w-full scale-95" />
                </div>
            </div>
        </div>
    </section>
</div>
