<section>
    <h2 class="text-2xl leading-10 font-bold">Audit logs</h2>

    <div class="my-5 mb-3 flex items-center justify-between">
        <div></div>
        <div class="flex items-center justify-end gap-3">
            <div class="flex items-center justify-start gap-2">
                <input type="text" pInputText size="small" />
                <p-button styleClass="bg-green" size="large" icon="pi pi-search" />
            </div>
            <div (click)="toggleFilter()">
                <lib-audit-log-filter />
            </div>
        </div>
    </div>

    <div class="mt-6">
        <p-card>
            <lib-audit-log-table />
        </p-card>
    </div>
</section>
