<section>
    <h2 class="text-4xl leading-10 font-bold">Tasks</h2>
    <div class="my-5 mb-3 flex items-center justify-between">
        <p-button
            size="small"
            styleClass="bg-green py-2"
            (onClick)="show('create')">
            <i class="pi pi-plus"></i> Create</p-button
        >
        <div class="flex items-center justify-end gap-3">
            <div class="flex items-center justify-start gap-2">
                <input
                    type="text"
                    pInputText
                    size="small"
                    (input)="onSearch($event)" />
                <p-button
                    styleClass="bg-green"
                    size="large"
                    icon="pi pi-search" />
            </div>
            <app-task-filter></app-task-filter>
        </div>
    </div>

    <div>
        <div class="rounded-md">
            @if (taskListStateService.select('loading') | async) {
                <div class="text-center">
                    <p-progressSpinner ariaLabel="loading"></p-progressSpinner>
                </div>
            } @else {
                @let tasks = taskListStateService.select('tasks') | async;
                @if (tasks !== null && tasks.length > 0) {
                    <app-task-table></app-task-table>
                } @else {
                    <div class="mt-6 text-center">No task found!</div>
                }
            }
        </div>
    </div>
</section>
