<section class="relative min-h-screen w-full overflow-hidden">
    <div class="animate-top mt-24">
        <h2 class="gradient-text text-center text-6xl font-bold">
            Choose Your Plan
        </h2>
        <p class="text-gray58 text-center text-2xl font-semibold">
            Choose your best plan
        </p>

        <div class="mb-32 text-center">
            <div
                class="mt-7 inline-block rounded-2xl border border-gray-50 px-4 py-2 md:rounded-full"
                style="box-shadow: 0px 1px 1px 0px #00000040">
                <div
                    class="absolute top-0 left-0 -z-10 h-full w-full rounded-full bg-white opacity-80 blur-3xl"></div>

                <div
                    class="flex-col sm:flex sm:flex-row sm:gap-4 md:flex md:flex-row md:gap-4">
                    <div
                        (click)="togglePlan(subscriptionType.MONTHLY)"
                        [ngClass]="{
                            '!bg-green-500': planPriceType !== 'monthly',
                            'bg-white': planPriceType === 'monthly',
                        }"
                        [ngStyle]="
                            planPriceType === 'monthly'
                                ? { 'box-shadow': '0px 1px 1px 0px #00000040' }
                                : {}
                        "
                        class="text-gray23 transform cursor-pointer rounded-full px-12 py-2 text-2xl transition-transform duration-500"
                        style="box-shadow: 0px 1px 1px 0px #00000040">
                        <button
                            class="transform transition-transform duration-700 hover:scale-110">
                            Monthly
                        </button>
                    </div>
                    <div
                        (click)="togglePlan(subscriptionType.YEARLY)"
                        [ngClass]="{
                            'bg-green-500': planPriceType !== 'yearly',
                            'bg-white': planPriceType === 'yearly',
                        }"
                        [ngStyle]="
                            planPriceType === 'yearly'
                                ? { 'box-shadow': '0px 1px 1px 0px #00000040' }
                                : {}
                        "
                        class="text-gray23 cursor-pointer rounded-full px-12 py-2 text-2xl">
                        <button
                            class="transform transition-transform duration-700 hover:scale-110">
                            Yearly
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="absolute bottom-0 left-0 -z-50">
        <img src="assets/images/bgDesign1.png" alt="" />
    </div>
    <div class="absolute top-0 left-0 -z-40">
        <img src="assets/images/bgDesign2.png" alt="" />
    </div>
    <div class="absolute top-16 right-80 -z-30">
        <img src="assets/images/bgDesign3.png" alt="" class="h-96 w-[32rem]" />
    </div>
    <div class="absolute top-0 right-0 -z-20">
        <img src="assets/images/bgDesign4.png" alt="" />
    </div>

    @let allPlans = planStateService.select('plans') | async;

    <div
        class="mx-4 mt-10 !mb-36 grid gap-5 md:my-16 md:flex md:flex-row md:items-center md:justify-center">
        @for (plan of allPlans; let index = $index; track index) {
            <div
                style="
                    background: linear-gradient(
                        180deg,
                        #00ff37 0%,
                        #33b37b 50%,
                        #045700 75%,
                        #666666 100%
                    );
                "
                class="flex w-80 rounded-xl"
                [ngClass]="{
                    'animate-from-left': index === 0,
                    'animate-zoom-in z-10 my-3 md:my-0': index === 1,
                    'animate-from-right': index === 2,
                }">
                <div
                    class="relative top-px left-1 w-80 rounded-[10px] bg-white p-5"
                    [ngClass]="{
                        'left-1': index === 0,
                        'left-0': index === 1,
                        '-left-1': index === 2,
                        '-mt-24': index === 1,
                    }"
                    style="box-shadow: 0px 1px 5px 0px #00000040">
                    <h4 class="text-gray99 mb-4 text-xl font-bold">
                        {{ plan.name }}
                    </h4>
                    <h6 class="text-gray66 text-3xl font-bold">
                        BDT
                        {{
                            getPrice(
                                plan.monthlyPrice || 0,
                                plan.yearlyPrice || 0
                            ) | number: '1.0-0'
                        }}/<span class="text-sm">{{
                            planPriceType === 'monthly' ? 'Month' : 'Year'
                        }}</span>
                    </h6>
                    <hr class="border-graybf mt-2 mb-4 w-full border-t" />
                    @for (
                        feature of getFeatures(plan.activeFeatures?.[0]);
                        track feature
                    ) {
                        <div class="my-2.5 flex items-center">
                            <span
                                class="flex h-6 w-6 items-center justify-center rounded-full bg-[#009A12] p-[.5rem]">
                                <i
                                    class="pi pi-check text-xs !font-[1000] text-white"></i>
                            </span>
                            <span class="text-md ml-2 text-[#999999]">{{
                                feature
                            }}</span>
                        </div>
                    }
                    @for (
                        feature of getFeatures(plan.inactiveFeatures?.[0]);
                        track feature
                    ) {
                        <div class="my-2.5 flex items-center">
                            <span
                                class="flex h-6 w-6 items-center justify-center rounded-full bg-red-500 p-[.5rem]">
                                <i
                                    class="pi pi-times text-xs !font-[1000] text-white"></i>
                            </span>
                            <span class="text-md ml-2 text-[#999999]">{{
                                feature
                            }}</span>
                        </div>
                    }
                    <div class="mx-auto mt-4 w-full">
                        <div
                            class="bg-green rounded-md py-1.5 text-center text-base font-semibold text-white">
                            <button
                                (click)="onSubscribe(plan.id)"
                                class="transform transition-transform duration-500 hover:scale-125">
                                Start For BDT
                                {{
                                    getPrice(
                                        plan.monthlyPrice || 0,
                                        plan.yearlyPrice || 0
                                    ) | number: '1.0-0'
                                }}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</section>
