<div
    class="flex flex-col items-center justify-center pt-56 text-center md:pt-28">
    <div class="mb-4 h-24 w-24 lg:h-28 lg:w-28">
        <img
            src="../assets/images/feedback-failed.png"
            alt="Feedback Success"
            class="h-full w-full object-contain" />
    </div>
    <div>
        <h2 class="mb-2 text-2xl font-semibold text-red-500 lg:text-3xl">
            Feedback submission failed
        </h2>
        <p class="mb-5 text-xl font-medium text-gray-600">Please try again</p>
        <button
            [routerLink]="['/dashboard/feedback']"
            class="cursor-pointer rounded-md bg-[#22c55e] px-4 py-2 text-white transition hover:bg-[#08d152]">
            Try again
        </button>
    </div>
</div>
