<div
    class="flex flex-col items-center justify-center pt-56 text-center md:pt-28">
    <div class="mb-4 h-24 w-24 lg:h-28 lg:w-28">
        <img
            src="../assets/images/feedback-success.png"
            alt="Feedback Success"
            class="h-full w-full object-contain" />
    </div>
    <div>
        <h2 class="mb-2 text-2xl font-semibold text-[#005101] lg:text-3xl">
            Your feedback has been submitted successfully!
        </h2>
        <p class="mb-5 text-lg font-medium text-gray-600 lg:text-xl">
            Thank you for your feedback
        </p>
        <button
            [routerLink]="['/']"
            class="cursor-pointer rounded-md bg-[#22c55e] px-4 py-2 text-white transition hover:bg-[#08d152]">
            Back to home<i class="pi pi-reply ml-2 rotate-180"></i>
        </button>
    </div>
</div>
