@layer components {
    .dark .p-dialog {
        background-color: var(--color-gray-white-800);
    }

    .dark .p-dialog-title {
        color: var(--color-gray-white-150);
    }

    .dark .p-dialog-close-button {
        color: var(--color-gray-white-150);
    }

    .dark label {
        color: var(--color-gray-white-200);
    }

    .dark .p-select-label {
        color: var(--color-gray-white-200);
    }

    .dark .p-select-option {
        color: var(--color-gray-white-200);
    }

    .dark .p-multiselect {
        background-color: var(--color-gray-white-600);
        border: none;
    }

    .dark .p-card {
        background-color: var(--color-gray-white-900);
    }

    .dark .p-inputtext {
        background-color: var(--color-gray-white-600);
        border: var(--color-gray-white-800);
        color: var(--color-gray-white-200);
    }

    .dark .p-datatable-table-containe {
        background-color: var(--color-gray-white-900);
    }

    .dark .p-paginator {
        background-color: var(--color-gray-white-800);
    }

    .dark .p-select {
        background-color: var(--color-gray-white-800);
    }

    .dark .p-select-overlay {
        background-color: var(--color-gray-white-800);
    }

    .dark .p-button {
        border: var(--color-primary);
        color: var(--color-gray-white-150);
    }

    .dark .p-datatable-thead > tr > th {
        background-color: var(--color-gray-white-800);
        color: var(--color-gray-white-150);
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .dark .p-datatable-tbody > tr {
        background-color: var(--color-gray-white-800);
        color: var(--color-gray-white-150);
    }

    .dark p-accordion .p-datatable-tbody > tr {
        background-color: var(--color-gray-white-900);
        color: var(--color-gray-white-150);
    }

    .dark .p-tablist-tab-list {
        background-color: var(--color-gray-white-900);
    }

    .dark .p-accordionheader {
        background-color: var(--color-gray-white-900);
    }

    .dark .p-accordioncontent-content {
        background-color: var(--color-gray-white-900);
    }

    .dark .p-togglebutton {
        background-color: var(--color-gray-white-800);
        border: var(--color-gray-white-800);
    }

    .dark .p-tooltip .p-tooltip-text {
        background-color: var(--color-gray-white-900);
        color: var(--color-gray-white-150);
        border: none;
    }

    .dark lib-feedback-create .p-fileupload-advanced {
        background-color: var(--color-gray-white-800);
        border: var(--color-gray-white-800);
    }

    .dark lib-feedback-create .p-button {
        background-color: var(--color-primary);
        color: var(--color-gray-white-150);
    }

    .dark lib-feedback-create .p-textarea {
        background-color: var(--color-gray-white-800);
        color: var(--color-gray-white-150);
        border: var(--color-gray-white-800);
    }

    .dark app-case-history-dialog .p-button {
        background-color: var(--color-gray-white-600) !important;
        color: var(--color-gray-white-200);
    }

    .dark app-case-party-modal .p-button:nth-of-type(1) {
        color: var(--color-gray-white-150);
    }

    /* case page */

    .dark app-page-case .p-button {
        background-color: var(--color-gray-white-500);
        color: var(--color-gray-white-200);
    }

    .dark app-page-case .p-button .p-button-icon {
        color: var(--color-gray-white-200) !important;
    }

    .dark app-page-case .p-menu-item-label {
        color: var(--color-gray-white-200);
    }

    .dark app-create-case-history-dialog .p-button {
        background-color: var(--color-primary);
    }

    .dark app-create-note-dialog .p-textarea {
        background-color: var(--color-gray-white-600);
    }

    .dark app-create-note-dialog .p-button {
        background-color: var(--color-primary);
    }

    .dark app-court-transfer-modal .p-textarea {
        background-color: var(--color-gray-white-600);
        color: var(--color-gray-white-200);
    }

    .dark app-court-transfer-modal .p-button {
        background-color: var(--color-primary);
    }

    .dark lib-file-upload-dialog .p-textarea {
        background-color: var(--color-gray-white-600);
    }

    .dark app-case-client-add-modal .p-button {
        background-color: var(--color-primary);
    }

    .dark app-sms-send-history .p-tabpanels {
        background-color: inherit;
    }

    .dark app-sms-send-dialog .p-textarea {
        background-color: var(--color-gray-white-600);
        color: var(--color-gray-white-200);
    }

    .dark app-sms-send-dialog .p-tablist .p-tab:not(.p-tab-active) {
        color: var(--color-gray-white-200) !important;
    }

    .dark app-invite-member-dialog .p-select {
        background-color: var(--color-gray-white-500);
        border: none;
    }

    .dark .p-select {
        background-color: var(--color-gray-white-500);
        border: none;
    }

    .dark app-create-case-form .p-button:nth-of-type(2) {
        color: var(--color-primary);
    }

    .dark .p-confirmdialog-icon {
        color: var(--color-gray-white-200);
    }

    .dark .p-confirmdialog-message {
        color: var(--color-gray-white-200);
    }

    .dark .p-confirmdialog-reject-button {
        background-color: var(--color-gray-white-900);
    }

    .dark .p-confirmdialog-accept-button {
        background-color: var(--color-primary) !important;
    }

    .dark app-upload-profile-photo p-fileupload .p-fileupload-choose-button {
        background-color: var(--color-primary);
    }

    /* client dashboard */

    .dark app-client-case-history .dark-client .p-button-secondary {
        background-color: var(--color-gray-white-600) !important;
        color: var(--color-gray-white-200);
    }

    .dark app-client-case-history .dark-client .p-button {
        background-color: var(--color-gray-white-400);
        color: var(--color-gray-white-200);
    }

    .dark app-client-case-history .client-view-event .p-button {
        color: var(--color-gray-white-300);
        background-color: var(--color-gray-white-600);
    }
}
