@let followedCases = followedCasesStateService.select('followedCases') | async;

@if (followedCases) {
    <div
        class="mobile-card flex h-full max-w-sm flex-1 cursor-pointer flex-col justify-between px-4 py-2">
        <div class="flex h-full items-center justify-between">
            <div
                class="border-gray bg-color-container secondary-text-2 flex h-20 w-20 flex-shrink-0 items-center justify-center rounded-full border border-teal-400 bg-teal-50 text-teal-400">
                <i class="pi pi-hammer" style="font-size: 2rem"></i>
            </div>

            <div
                class="ml-2 flex w-full flex-col items-end justify-between gap-2 md:gap-0">
                <h1
                    class="secondary-text text-start text-sm leading-tight font-bold break-words text-gray-700/80 sm:text-base">
                    My Cases
                </h1>
                <h6
                    class="bg-gradient-to-r from-green-700 to-teal-600 bg-clip-text text-end text-8xl font-bold text-transparent">
                    {{ followedCases.length }}
                </h6>
            </div>
        </div>
    </div>
}

<div class="mt-8">
    <h1 class="mb-8 text-2xl font-bold">Upcoming Cases</h1>
    <app-client-upcoming-cases />
</div>
