<!-- //TODO Will use and commentOut letter -->
<h1 class="primary-text mb-5 text-3xl font-bold">Settings</h1>
<p-card>
    <div>
        <div class="mb-4 flex items-center border-b border-gray-200">
            <a
                routerLink="/dashboard/settings"
                routerLinkActive="active-tab"
                [routerLinkActiveOptions]="{ exact: true }"
                class="tab-link primary-text">
                Preferences
            </a>
            @if (groupType() === 'vendor'){
            <a
                routerLink="/dashboard/settings/set-pin"
                routerLinkActive="active-tab"
                [routerLinkActiveOptions]="{ exact: true }"
                class="tab-link primary-text">
                Set PIN
            </a>
            <span class="rounded-3xl bg-purple-50 px-4 text-center text-sm text-purple-800"
                >Coming soon</span
            >
            }
        </div>
        <router-outlet></router-outlet>
    </div>
</p-card>

@if (groupType() === 'vendor'){
<h1 class="mt-12 mb-5 ml-1 text-3xl font-bold">List of Acts</h1>
<app-page-law></app-page-law>
}
