:host {
    display: block;
}

@reference "tailwindcss";

input:checked ~ .dot {
    transform: translateX(100%);
    background-color: #48bb78;
}

.label {
    @apply inline-block py-1.5 text-base font-medium text-gray-700;
}

.input {
    @apply h-10 w-full rounded-lg border border-gray-200;
}
