<h1 class="primary-text text-4xl font-bold">Cause List</h1>

<!-- <div class="mt-4 flex items-center justify-between gap-3 sm:flex-row">
    <div class="flex items-center justify-start gap-2">
        <div class="relative w-full">
            <i
                class="pi pi-search absolute top-1/2 left-3 -translate-y-1/2 transform text-gray-400"></i>
            <input
                (input)="onSearch($event)"
                class="search-field w-full pl-10"
                pInputText
                placeholder="Search by case no"
                size="small"
                type="text" />
        </div>
    </div>
    <div (click)="toggleFilter()">
        <lib-cause-list-filter></lib-cause-list-filter>
    </div>
</div> -->

@let causeList = causeListStateService.select('causeList') | async;
@let isLoading = causeListStateService.select('loading') | async;

<div class="bg-color-container mt-6 rounded-lg bg-white p-4">
    <app-cause-list-details-card
        [causeList]="causeList ?? []"
        [isLoading]="isLoading ?? false"
        [isVisibleModificationBtn]="true" />
</div>
